
### Supervised Learning
### Activity: Building a Student Intervention System

### Question 1 - Classification vs. Regression
*Your goal for this project is to identify students who might need early intervention before they fail or pass. Which type of supervised learning problem is this, classification or regression? Why?*

**Answer: **

This is a Classification problem since we have to predict a particular category.

### Question-2
load necessary Python libraries and load the student data. Note that the last column from this dataset, `'passed'`, will be our target label (whether the student graduated or didn't graduate). All other columns are features about each student.

In [268]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [269]:
# Read student data
data=pd.read_csv(r'C:\Users\Admin\Downloads\student-data.csv')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

### Question-3
Let's begin by investigating the dataset to determine how many students we have information on, and learn about the graduation rate among these students. In the code cell below, you will need to compute the following:
- The total number of students, `n_students`.
- The total number of features for each student, `n_features`.
- The number of those students who passed, `n_passed`.
- The number of those students who failed, `n_failed`.
- The graduation rate of the class, `grad_rate`, in percent (%).

In [270]:
# Calculate number of students
n_students=data.shape[0]

In [194]:
# Calculate number of features
n_features=data.shape[1]

In [195]:
# Calculate passing students
n_passed =len(data[data['passed'] == 'yes'].index)

In [196]:
# Calculate failing students
n_failed = len(data[data['passed'] == 'no'].index)

In [197]:
# Calculate graduation rate
tot=n_passed+n_failed
grad_rate=((n_passed/tot)* 100)

In [198]:
# Print the results
print('Number of students:',n_students)
print('Number of features:',n_features)
print('Number of passed students:',n_passed)
print('Number of failed students:',n_failed)
print('Graduation rate :',grad_rate)

Number of students: 395
Number of features: 31
Number of passed students: 265
Number of failed students: 130
Graduation rate : 67.08860759493672

## Preparing the Data
you will prepare the data for modeling, training and testing.

### Question-4 Identify feature and target columns


separate the student data into feature and target columns to see if any features are non-numeric.

In [108]:
# Extract feature columns

In [199]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [200]:
features=data[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences']]

In [201]:
features.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,4
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,4

In [202]:
# Extract target column 'passed'

In [203]:
target=data['passed']
target.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: passed, dtype: object

In [204]:
# Separate the data into feature data and target data (X and y, respectively)

In [271]:
x=data.drop(['passed'],axis=1)
y=pd.DataFrame(data['passed'])

### Question-5 Preprocess Feature Columns

As you can see, there are several non-numeric columns that need to be converted! Many of them are simply `yes`/`no`, e.g. `internet`. These can be reasonably converted into `1`/`0` (binary) values.

Other columns, like `Mjob` and `Fjob`, have more than two values, and are known as _categorical variables_. The recommended way to handle such a column is to create as many columns as possible values (e.g. `Fjob_teacher`, `Fjob_other`, `Fjob_services`, etc.), and assign a `1` to one of them and `0` to all others.

These generated columns are sometimes called _dummy variables_, and we will use the [`pandas.get_dummies()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html?highlight=get_dummies#pandas.get_dummies) function to perform this transformation. Run the code cell below to perform the preprocessing routine discussed in this section.

In [272]:
x=pd.get_dummies(x)

In [259]:
x.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,0,1,0,1,1,0,1,0
1,17,1,1,1,2,0,5,3,3,1,...,1,0,1,0,0,1,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,1,0,0,1,0,1,0,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,0,1,0,1,0,1,0,1,0,1
4,16,3,3,1,2,0,4,3,2,1,...,1,0,0,1,0,1,1,0,1,0

### Question - 6 Implementation: Training and Testing Data Split
So far, we have converted all _categorical_ features into numeric values. For the next step, we split the data (both features and corresponding labels) into training and test sets. you will need to implement the following:
- Randomly shuffle and split the data (`X`, `y`) into training and testing subsets.
  - Use 300 training points (approximately 75%) and 95 testing points (approximately 25%).
  - Set a `random_state` for the function(s) you use, if provided.
  - Store the results in `X_train`, `X_test`, `y_train`, and `y_test`.

In [208]:
# splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test,=train_test_split(x,y,test_size=0.25,random_state=2)

In [209]:
# Show the results of the split
x_train.shape

(296, 56)

In [210]:
y_train.shape

(296, 1)

In [211]:
y_test.shape

(99, 1)

In [212]:
x_test.shape

(99, 56)

### Question - 7  Training and Evaluating Models
In this section, you will choose 3 supervised learning models that are appropriate for this problem and available in `scikit-learn`. You will first discuss the reasoning behind choosing these three models by considering what you know about the data and each model's strengths and weaknesses. You will then fit the model to varying sizes of training data and measure the accuracy score.

###  Model Application
*List three supervised learning models that are appropriate for this problem. What are the general applications of each model? What are their strengths and weaknesses? Given what you know about the data, why did you choose these models to be applied?*

In [213]:
#explaination

The three supervised learning models that are appropriate for this problem are:Decision Tree,Random Forest & Gradient Boosting.

1.Decision Tree
  
  general applications-
  Marketing-eg:decision trees can help in audience segmentation
  Detection of Frauds
  Diagnosis of Diseases and Ailments-eg:to identify the patient with high risk of developing serious conditions
  
  strengths-
  Decision trees are able to generate understandable rules.
  Decision trees perform classification without requiring much computation.
  Decision trees are able to handle both continuous and categorical variables.
  Decision trees provide a clear indication of which fields are most important for prediction or classification. 
  
  weakness-
  Decision trees are less appropriate for estimation tasks where the goal is to predict the value of a continuous attribute.
  Decision trees are prone to errors in classification problems with many class and relatively small number of training examples.
  Decision tree can be computationally expensive to train.
  
2.Random Forest
   
   general applications-
   Banking      -eg:to identify loyal customers
   Medical field-eg:to identify correct combination of medicines
   Stock market -eg:to identify stock behaviour
   E-commerce   -eg:to check whether the customer like the product
   
   strengths-
   It reduces overfitting in decision trees and helps to improve the accuracy
   It is flexible to both classification and regression problems
   It works well with both categorical and continuous values
   It automates missing values present in the data
   Normalising of data is not required as it uses a rule-based approach.
   
   weakness- 
   It requires much computational power as well as resources as it builds numerous trees to combine their outputs. 
   It also requires much time for training as it combines a lot of decision trees to determine the class.
   Due to the ensemble of decision trees, it also suffers interpretability and fails to determine the significance of each variable.
   
3.Gradient Boosting   
  
  general applications-
  Gradient boosting can be used in the field of learning to rank.
  also utilized in High Energy Physics in data analysis. 
  
  strengths-
  Often provides predictive accuracy that cannot be trumped.
  Lots of flexibility - can optimize on different loss functions and provides several hyper parameter tuning options that make the function fit very flexible 
  
  weakness- 
  It is not trivial to parallelize the boosting algorithm as the composite model built at each stage is dependent on the residuals from the previous stage making it more time consuming to train.
  It is highly prone to over-fitting the model to train data as you try to reduce the train error by increasing the number of stages.
  Tts implementation may be more difficult due to the higher computational demand.

Here we have to analyse the data and predict the particular category, i.e ,'passed'.We should be able to predict whether the 
student will pass or fail analysing the given features.Decision tree,random forest and gradient boosting are three 
powerful tools for classification and prediction and are applied here.

In [215]:
# Import the three supervised learning models from sklearn
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [216]:
# fit model-1  on traning data (RANDOM FOREST)

In [240]:
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

<ipython-input-240-369905d9bcdc>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train,y_train)

RandomForestClassifier()

In [241]:
# predict on the test data

In [242]:
y_pred=rf.predict(x_test)

In [243]:
# calculate the accuracy score

In [244]:
print('accuracy:',accuracy_score(y_test,y_pred))

accuracy: 0.7171717171717171

In [225]:
# fit the model-2 on traning data and predict on the test data and measure the accuracy(DECISION TREE)

In [260]:
dt_model=DecisionTreeClassifier()
dt_model.fit(x_train,y_train)

DecisionTreeClassifier()

In [261]:
# predict on the test data 
y_pred2=dt_model.predict(x_test)

In [262]:
# calculate the accuracy score
print('accuracy:',accuracy_score(y_test,y_pred2))

accuracy: 0.6868686868686869

In [229]:
# fit the model-3 on traning data and predict on the test data and measure the accuracy(GRADIENT BOOSTING)

In [273]:
gb=GradientBoostingClassifier()
gb.fit(x_train,y_train)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GradientBoostingClassifier()

In [274]:
# predict on the test data
y_pred3=gb.predict(x_test)

In [275]:
# calculate the accuracy score
print('accuracy:',accuracy_score(y_test,y_pred3))

accuracy: 0.7171717171717171